body {
  border: 2px solid black;
  padding: 15px;
}

section h2 {
  margin-left:15%;
  margin-right:15%;
}


#date {
  position: relative;
  top:15px;
  text-align:right;

}

section img {
  height:250px;
  margin-left:40px;
}


.clear > h1 {
  margin-top: 40px;

}

article {
clear: both;
padding:15px;
}

nav {

}

